<div class="container" [ngClass]="{'pink-theme': themeService.isDarkTheme | async}">
  <div>
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-slide-toggle [checked]="themeService.isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">dark
        </mat-slide-toggle>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="py-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/page-one" routerLinkActive="active">Page one</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/page-two" routerLinkActive="active">Page two</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="py-5">
    <router-outlet></router-outlet>
  </div>
</div>